.slot {
  border: 1px solid var(--border);
  height: 100%;
  cursor: pointer;
}

.slot--fixed {
  background-color: var(--social-bg);
  border: none;
}

.slot--selected {
  color: var(--accent);
  background-color: var(--accent-bg);
  border-color: var(--accent-border);
}
